.headerContainer {
  display: flex;
  flex-direction: column;
  max-width: 859px;
}

.header {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
}

.text {
  margin: 54px 0 57px;
  font-size: 24px;
  font-weight: 400;
  color: #292E3D;
}
