@import url('./vendor/fonts.css');

:root {
  font-family: Raleway, Arial, sans-serif;
  color: #7884A5;
  background-color: #F8FAFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
}
